<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NetworkUtilityTools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B837F6881BE0379B00BE5347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B837F69C1BE0379B00BE5347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B837F6A71BE0379B00BE5347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
